.main_title{
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  margin-top: 2rem;
  border-radius: 15px;
  border: 2px solid white;
  padding: 1.5rem;
  color:whitesmoke;
  font-family: Verdana, serif;
}

.main_title {
  text-align: center;
  margin-top: 2rem;
}

.battle-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem 2rem;
}
