.card_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #212529;
    border-left: 4px solid #FFD524;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #000;
    font-family: Verdana, serif;
    color: #f0f0f0;
    padding: 1rem;
    margin: 0.5rem;
    max-width: 100%;
}

.card_stats {
    padding-top: 1rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.2rem;
    border-top: 2px solid rebeccapurple;
    width: 100%;
    color: #f0f0f0;
}

.card_guilds {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 0.5rem;
}

.vs-card {
    display: flex;
    justify-self: center;
    align-items: center;
}

.card_title {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
}

.left {
    flex: 1 1 auto;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.center {
    flex: 1 1 auto;
    min-width: 0;
    text-align: center;
    overflow: hidden;
}


.right {
    flex: 0 0 auto;
    margin-left: 10px;
}

.battle_id_container {
    white-space: nowrap;
    font-size: 1.3rem;
}

.battle_title_container {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin-right: 6.5rem;
}

.vs-card-inline {
    margin: 0 5px;
    font-size: 1.2rem;
    color: #bbb;
}

.mobile_battle_id {
    display: none;
}

.toggle_button {
    white-space: nowrap;
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
}

.card_content_container {
    margin-top: 1rem;
    transition: all 0.3s ease;
}

.pvp_fame_icon {
    margin-bottom: 5px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.battle_link {
    color: #0081cf;
    text-decoration: none;
    font-weight: normal;
}

.battle_link:hover {
    text-decoration: underline;
    color: #99e0ff;
}

/* RESPONSIVE MEDIA QUERIES */

@media (max-width: 600px) {
    .card_stats {
        text-align: left;
    }

    .center {
        display: none;
    }

    .battle_id_container {
        font-size: 1.1rem;
    }

    .pvpfame {
        font-size: 1.2rem !important;
    }

    .card_title {
        align-items: flex-start;
    }

    .left {
        margin-right: 5px;
    }

    .right {
        margin-left: 5px;
    }

    .toggle_button {
        font-size: 0.8rem;
        padding: 0.25rem 0.5rem;
    }

    .vs-card-inline {
        font-size: 0.5rem !important;
    }

    .mobile_battle_id {
        display: block;
    }
}

@media (max-width: 400px) {
    .mobile-guild-names {
        font-size: 0.9rem;
        -webkit-line-clamp: 3;
        max-height: 3.6em;
    }

    .pvpfame {
        font-size: 1rem !important;
    }
}

@media (min-width: 632px) {
    .card_guilds {
        flex-wrap: nowrap;
    }
}

.mobile-guild-names {
    white-space: normal;
    word-break: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    line-height: 1.2;
    font-size: 0.8rem !important;
}
