.card_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 10px 10px 10px black;
    font-family: Verdana, serif;
    padding: 1rem;
    margin: 1rem;
    max-width: 100%;
}

.card_stats {
    padding-top: 2rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.2rem;
    border-top: 2px solid #444;
    width: 100%;
}

@media (max-width: 600px) {
   .card_stats{
       text-align: left;
   }
}

@media (min-width: 600px) {
    .card_stats {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .card_stats {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card_guilds {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 1rem 1rem;
}

.vs-card{
    display: flex;
    justify-self: center;
    align-items: center;
}

.card_title {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.left {
    flex: 0 0 auto; /* Don't grow, don't shrink, auto basis */
    margin-right: 10px;
}

.center {
    flex: 1 1 auto; /* Grow and shrink as needed */
    min-width: 0; /* Allows text truncation if needed */
    text-align: center;
    overflow: hidden; /* Prevents overflow */
}

.right {
    flex: 0 0 auto; /* Don't grow, don't shrink, auto basis */
    margin-left: 10px;
}

.battle_id_container {
    white-space: nowrap; /* Prevent text wrapping */
}

.battle_title_container {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10.5rem;
    max-width: 100%;
}

.vs-card-inline {
    margin: 0 5px;
    font-size: 1.2rem;
    color: black;
}

.toggle_button {
    white-space: nowrap;
}

.card_content_container {
    margin-top: 1rem;
    transition: all 0.3s ease;
}

@media (max-width: 520px) {
    .card_title {
        flex-direction: column;
        gap: 0.3rem;
    }
    .battle_title_container{
        font-size: 0.7rem;
        white-space: wrap;
        margin-right: 0;
    }
    .vs-card-inline {
        font-size: 0.5rem;
    }
}

@media (min-width: 632px) {
    .card_guilds {
        flex-wrap: nowrap;
    }
}
