.container{
    margin:0;
}
.headbar{
    border-bottom: 1px solid rebeccapurple;
}

.main_name{
    font-size: 1.2rem;
    margin-left: 1rem;
}

.me-auto{
    font-size: 1rem;
}

@media screen and (min-width: 768px) {
    .main_name{
        font-size: 1.2rem;
    }
    .me-auto{
        font-size: 1rem;
    }
}